#one {
color: aliceblue;
padding: 5px;
padding-left: 5px;
padding-top: 10px;
border: solid 6px;
border-color: white;
}
#two {
    color: aliceblue;
    padding: 5px;
    padding-left: 5px;
    padding-top: 10px;
    border: solid 6px;
    border-color: white;
}